<%= javascript_include_tag :defaults %>
<h1>Listing tasks</h1>

<ul class="tasks">
  <% @tasks.each do |task| %> 
    <%= render task %>
  <% end %>	
</ul>

<%= link_to 'New Task', new_task_path, remote: true %>
<div class="form_new", style="display: none">
  <%= render :partial => "form" %>
</div>  

<%= button_to "Delete all", destroy_all_tasks_path(@tasks_del), :method => :delete_all, :confirm => 'Are you sure?' %>


