<%= javascript_include_tag :defaults %>
<h1>Listing tasks</h1>

<ul class="tasks">
 
<% @tasks.each do |task| %>
  <% if task.id_user==current_user.id %>
    <li id=task_<%= task.id %>>
	  <div class="show">
        <%= render task %>
      </div>
    
    <div class="form", style="display: none">
      <%= render :partial => "form" %>
    </div> 
	</li>
  <% end %>
<% end %>
</ul>

<%= link_to 'New Task', new_task_path, remote: true %>
<div class="form_new", style="display: none">
  <%= render :partial => "form" %>
<div>  



