<h1>Listing tasks</h1>
<%= javascript_include_tag :defaults %>

<ul id="tasks">
<% @tasks.each do |task| %>
  <%= render task %>
<% end %>
</ul>

<%= form_for(@task, remote: true) do |f| %>

    <%= f.label :description %><br />
    <%= f.text_area :description %><br />
    <%= f.label :done %><br />
    <%= f.check_box :done %><br />
    <%= f.label :date %><br />
    <%= f.datetime_select :date %><br />
    <%= f.submit %><br />
<% end %>
