<%= javascript_include_tag :defaults %>
<h1>Listing tasks</h1>

<ul class="tasks">
  <%= render @tasks %>
</ul>

<%= link_to 'New Task', new_task_path, remote: true %>
<div class="form_new", style="display: none">
  <%= render :partial => "form" %>
</div>  

<%= button_to "Delete all", @task, :method => :delete, class: 'destroy_all', :confirm => 'Are you sure?' %>


