<!DOCTYPE html>
<html>
<head>
  <title>Mytask</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav">
        <% if current_user %>
        <div align="right"; id="buttons">
        <%= button_to "Edit Profile", edit_user_path(current_user.id), method: :get %>
        <%= button_to "Logout", :logout%>
        <%= current_user.username%> 
        </div>
        <% else %>
        <%= button_to "Register", new_user_path, method: :get %>
        <%= button_to "Login", :login %>
        <% end %>
    </div>
<%= yield %>
</body>
</html>

